---
import Technos from "@/components/@shared/Technos.astro";
import HeroProject from "@/components/project/HeroProject.astro";
import Button from "@/components/ui/button.astro";
import { InfiniteMovingCards } from "@/components/ui/infinite-moving-cards";
import { projects } from "@/data/data";
import Layout from "@/layouts/Layout.astro";
import Wrapper from "@/layouts/Wrapper.astro";

export async function getStaticPaths() {
  return projects.map((project) => ({
    params: { slug: project.slug },
  }));
}

const { slug } = Astro.params;
const project = projects.find((proj) => proj.slug === slug);

if (!project) {
  throw new Error(`Project not found for slug: ${slug}`);
}
---

<Layout title={project.title} description={project.des}>
  <Wrapper>
    <header class="relative">
      <a href="/#projets" class="flex items-center gap-4 back">
        <img src="/images/icons/arrow-go-back.svg" alt="Retour" />
        <span class="text-blue-100">Retour</span>
      </a>

      <HeroProject title={project.title} des={project.des} img={project.img} />

      <div class="flex gap-3 mb-12">
        {
          project.link && (
            <Button type="link" href={project.link}>
              Voir le projet
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-link"
              >
                <svgButton>
                  <path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71" />
                  <path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71" />
                </svgButton>
              </svg>
            </Button>
          )
        }
        {
          project?.linkCode && (
            <Button type="link" href={project.linkCode}>
              Voir le code
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-github"
              >
                <>
                  <path d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5.08-1.25-.27-2.48-1-3.5.28-1.15.28-2.35 0-3.5 0 0-1 0-3 1.5-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5-.39.49-.68 1.05-.85 1.65-.17.6-.22 1.23-.15 1.85v4" />
                  <path d="M9 18c-4.51 2-5-2-7-2" />
                </>
              </svg>
            </Button>
          )
        }
      </div>

      <div class="flex flex-col space-y-16">
        <div class="editor flex flex-col space-y-6">
          <h2>But du projet :</h2>
          <div set:html={project.des} />
        </div>

        <div class="editor flex flex-col space-y-6">
          <h2>Technologies :</h2>
          <Technos iconListsData={project?.iconLists} />
        </div>

        <div class="editor flex flex-col space-y-6">
          <h2>Année</h2>

          <span
            class="text-sm font-bold bg-purple rounded-full px-6 py-1 max-w-fit"
            >{project?.year}</span
          >
        </div>

        <div class="editor flex flex-col space-y-6">
          <h2>Previews :</h2>

          <InfiniteMovingCards
            client:load
            items={project.previewsThumbnail}
            direction="right"
            speed="normal"
          />
        </div>
      </div>
    </header>
  </Wrapper>
</Layout>
